/* generics */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{    
    background-color: lightblue;
    font-family: 'Nerko One', cursive;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* main  */

main{
    max-width: 680px;
    height: 780px;
    margin: 0 auto;
}

h1{
    text-align: center;
    padding-top: 15px;
    color: #fff;
    font-size: 50px;
    text-shadow: 1px 1px 1px grey;
}

/* righe  */

.first-row{
    width: 100%;
    height: 220px;
    margin-top: 25px;
}

.second-row{
    width: 100%;
    height: 220px;
}

.third-row{
    width: 100%;
    height: 220px;
}

/* cards  */

.col{
    width: 150px;
    height: 200px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-position: center;
    float: left;
    margin: 10px 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 1px grey;
    cursor:pointer;
}

/* classi per Hover  */

/*  riga 1 - elemento 1  */

.first-row .col:nth-child(1):hover::after {
    content:'Bycicle';
    color: blue;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height: 350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/bicicletta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
} 

/*  riga 1 - elemento 2  */

.first-row .col:nth-child(2):hover::after {
    content:'Tractor';
    color: pink;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height:350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/trattore.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

/*  riga 1 - elemento 3  */

.first-row .col:nth-child(3):hover::after {
    content:'Boat';
    color: red;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height: 350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/nave.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

/*  riga 1 - elemento 4  */

.first-row .col:nth-child(4):hover::after {
    content:'Submarine';
    color: orange;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height:350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/sottomarino.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

/*  riga 2 - elemento 1  */

.second-row .col:nth-child(1):hover::after {
    content:'Tram';
    color: green;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height:350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/tram.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

/*  riga 2 - elemento 2  */

.second-row .col:nth-child(2):hover::after {
    content:'Air Baloon';
    color: purple;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height:350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/mongolfiera.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

/*  riga 2 - elemento 3  */

.second-row .col:nth-child(3):hover::after {
    content:'Bycicle';
    color: blue;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height: 350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/bicicletta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

/*  riga 2 - elemento 4  */

.second-row .col:nth-child(4):hover::after {
    content:'Tractor';
    color: pink;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height:350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/trattore.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

/*  riga 3 - elemento 1  */

.third-row .col:nth-child(1):hover::after {
    content:'Boat';
    color: red;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height:350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/nave.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

/*  riga 3 - elemento 2  */

.third-row .col:nth-child(2):hover::after {
    content:'Submarine';
    color: orange;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height:350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/sottomarino.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

/*  riga 3 - elemento 3  */

.third-row .col:nth-child(3):hover::after {
    content:'Tram';
    color: green;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height:350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/tram.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}

/*  riga 3 - elemento 4  */

.third-row .col:nth-child(4):hover::after {
    content:'Air Baloon';
    color: purple;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    line-height:350px;
    height: 100%;
    width: 100%;
    background-image: url(../img/mongolfiera.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    border-radius: 15px;
}
/* footer  */

footer{
    padding-top: 15px;
}

footer h2{
    text-align: center;
}